{
  "extends": "@17media/eslint-config-17media",
  "env": {
    "jest": true
  },
  "rules": {
    "no-debugger": "off",
    "no-unused-expressions": [
      2, { "allowTaggedTemplates": true }
    ]
  }
}
